<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <footer class="bg-dark text-white text-center py-4">
        <div class="container">
            <p>&copy; 2023 Taimoor Khan. All rights reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="https://github.com/taimoor-khan" target="_blank" class="text-white">GitHub</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/taimoor-khan" target="_blank" class="text-white">LinkedIn</a>
                </li>
                <li class="list-inline-item">
                    <a href="https://twitter.com/taimoor_khan" target="_blank" class="text-white">Twitter</a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="../js/main.js"></script>
</body>
</html>